@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
