// colors
$white: #ffffff;
$black: #000000;
$dark: #292d32;
$light-blue: #9197b3;
$bg-blue1: #5932ea;
$bg-blue2: #f9fbff;
$gray: #838383;
$light-gray: #b5b7c0;
$light-gray2: #eeeeee;
$medium-gray: #757575;
$dark-gray: #404b52;
$bg-gray: #f5f5f5;
$turquoise-btn: #16c098;
$turquoise: rgba(22, 192, 152, 0.38);
$green: #008767;
$br-green: #00b087;
$red: #df0404;
$bg-red: #ffc5c5;
$line-color: #eeeeee;
$bg: #fafbff;
$shadow: rgba(0, 0, 0, 0.15);

// fonts
$Poppins-font: "Poppins", Arial, sans-serif;

$h1-font: 600 26px/1.6 $Poppins-font;
$h2-font: 500 24px/1.5 $Poppins-font;
$h3-font: 500 22px/1.5 $Poppins-font;
$h4-font: 500 14px/1.5 $Poppins-font;
$h5-font: 400 14px/1.5 $Poppins-font;
$h6-font: 400 12px/1.5 $Poppins-font;
$h7-font: 500 12px/1 $Poppins-font;
$h8-font: 400 10px/1.5 $Poppins-font;

// screen size break points
$screen-lg: 1025px;
$screen-m: 1024px;
$screen-s: 768px;
$screen-xs: 540px;
